<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GITProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>812E3B181C7E1DAF008E5E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>812E3B311C7E1DAF008E5E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>812E3B3C1C7E1DAF008E5E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
